.armvault{
    width: 100vw;
    align-items: center;
    max-width: 100%;
    font-size: 2vh;
    animation-name: fadeup;
    animation-duration: 0.5s;
}
.logopic-container {
    height: 0px;
    /* this class contain logopic */
}
.logopic {
    position: relative;
    width: 5vh;
    top: 3.5vh;
    left: -30vw;
}
.armvault-header{
    width: 100%;
}
.armvault-header h1{
    font-size: 3.5vh;
}


.vault{
    border: 0.2vh solid black;
    box-shadow: 0.5vw 0.2vw rgb(36, 36, 36);
    margin: auto;
    margin-top: 3vh;
    width: 100%;
    border-radius: 3vw;
    background-color:rgb(182, 132, 26 , 0.9);
}
.vault-body{
    width: 100%;
    padding: 2vh;
    display: block;
}
.vault-body h1{
    color: #404040;
    font-size: 2.1vh;
}
.vault-body p{
    color: #101010;
    font-size: 2.6vh;
}

.vault-head{
    padding: 0.5vh;
    background-color: gold;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
}
.vault-head h3{
    font-size: 3vh;
}
.vault-info{
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.vault-info h1{
    font-size: 2.7vh;
    margin: auto;
    margin-top: 1.5vh;
}
.vault-stake{
    display: block;
    width: 100%;
    margin: auto;
}
.vault-stake h5{
    margin: auto;
    width: 100%;
    font-size: 2vh;
}
.vault-stake p{
    width: 100%;
    text-align: right;
    font-size: 2vh;
    margin: auto;
    margin-right: 5vw;
}
.vault-stake-component{
    margin: 0px;
    padding: 1vw;
}
.vault-stake-detail{
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
}
.flexRt {
    display: flex;
    flex-direction: row;
}
.vault-button {
    margin: auto;
}


@media screen and (min-width: 1000px){ /*Hide Navbar*/
    .vault{
        width: 80%;
    }
    .vault-body{
        display: flex;
    }
    .vault-stake-component {
        border-left: 0.1vw solid rgb(139, 113, 46);
    }
    .vault-info {
        width: 40%;
    }
    .flexRt {
        display: flex;
    }
}