.armvault{
    width: 100vw;
    align-items: center;
    max-width: 100%;
    font-size: 2vh;
    animation-name: fadeup;
    animation-duration: 0.5s;
}
.logopic-container {
    height: 0px;
    /* this class contain logopic */
}
.logopic {
    position: relative;
    width: 9vh;
    top: 3.2vh;
    left: -30vw;
}
.armvault-header{
    width: 100%;
}
.armvault-header h1{
    font-size: 3.5vh;
}


.vault{
    border: 0.2vh solid black;
    box-shadow: 0.5vw 0.2vw rgb(36, 36, 36);
    margin: auto;
    margin-top: 3vh;
    width: 100%;
    border-radius: 3vw;
    background: linear-gradient(
        to bottom,
        rgba(114, 76, 33, 0.95) 0%,
        rgba(124, 97, 24, 0.95) 70%,
        rgba(133, 84, 20, 0.95) 100%
    );
}
.vault-body{
    width: 100%;
    padding: 2vh;
    display: block;
}
.vault-body p{
    color: #ffffff;
    font-size: 3vh;
}

.vault-head{
    padding: 1vh;
    background: radial-gradient(
        rgba(248, 245, 51, 0.95) 0%,
        rgba(212, 188, 49, 0.95) 60%,
        rgba(199, 173, 29, 0.95) 100%
    );
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
}
.vault-head h3{
    font-size: 5vh;
}
.vault-info{
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.vault-info h1{
    color: rgb(229, 204, 145);
    font-size: 2.5vh;
    margin: auto;
    margin-top: 2vh;
}
.vault-stake{
    display: block;
    width: 100%;
    margin: auto;
}
.vault-stake h5{
    margin: auto;
    width: 100%;
    color: rgb(212, 198, 135);
    font-size: 2.5vh;
}
.vault-stake p{
    width: 100%;
    text-align: right;
    font-size: 2vh;
    margin: auto;
    margin-right: 5vw;
}
.vault-stake-component{
    margin: 0px;
    padding: 1vw;
}
.vault-stake-detail{
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
}
.flexRt {
    display: flex;
    flex-direction: row;
}
.vault-button {
    margin: auto;
}


@media screen and (min-width: 1000px){ /*Hide Navbar*/
    .vault{
        width: 80%;
    }
    .vault-body{
        display: flex;
    }
    .vault-stake-component {
        border-left: 0.1vw solid rgb(139, 113, 46);
    }
    .vault-info {
        width: 40%;
    }
    .flexRt {
        display: flex;
    }
}