.mint-aurum{
    display:block;
    margin: 0px;
    animation-name: fadeup;
    animation-duration: 0.5s;
}
.minting-box{
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 2vw;
    padding: 2vw;
    background-color: rgb(80, 40, 40 ,0.8);
    border: 0.2vw solid rgb(20, 20, 20);
    box-shadow: 0.1vw 0.2vw rgb(0, 0, 0);
    border-radius: 20px;
    min-height: 30vw;
}
.mint-topic{
    color: blanchedalmond;
    margin-bottom: 10px;
}
.mint-information{
    font-size: 2rem;
    display: flex;
    flex-direction: row;
}
.mint-information-price{
    flex-direction: row;
    background-color: rgb(68, 57, 12, 0.8);
    border: 0.2vw solid gold;
    border-radius: 2vw;
    margin: auto;
    margin-bottom: 2.5vw;
    padding: 1vw
}
.mint-information-credits{
    flex-direction: row;
    background-color: rgb(28, 59, 7, 0.8);
    border: 0.2vw solid greenyellow;
    border-radius: 2vw;
    margin: auto;
    margin-bottom: 2.5vw;
    padding: 1vw
}
@keyframes danger{
    0% {background-color: rgb(28, 59, 7, 0.8);}
    50% {background-color: red;}
    100% {background-color: rgb(28, 59, 7,0.8);}
}
.mint-information-credits-danger{
    animation-name: danger;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    flex-direction: row;
    background-color: rgb(28, 59, 7,0.8);
    border: 0.2vw solid greenyellow;
    border-radius: 2vw;
    margin: auto;
    margin-bottom: 2.5vw;
    padding: 1vw
}
.mint-information-aurumCredits{
    flex-direction: row;
    background-color: rgb(82, 79, 43,0.8);
    border: 0.2vw solid rgb(233, 250, 0,0.8);
    border-radius: 2vw;
    margin: auto;
    margin-bottom: 2.5vw;
    padding: 1vw
}
.mint-information-goldMintRate{
    flex-direction: row;
    background-color: rgb(100, 61, 34,0.8);
    border: 0.2vw solid rgb(255, 189, 47,0.8);
    border-radius: 2vw;
    margin: auto;
    margin-bottom: 2.5vw;
    padding: 1vw
}
.mint-information h3{
    font-size: 1.5rem;
    color: rgb(234, 236, 65,0.8);
}
.mint-action{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mint-action h3{
    font-size: 1.2rem;
    color: aliceblue;
}
.mint-action-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

.mint-action-info{
    margin: auto;
}
.flex{
    display: flex;
    flex-direction: row;
}