.header{
    z-index: 2;
    position: relative;
    margin: 0px;
    width: 100vw;
    max-width: 100%;
    min-height: 5vh;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.hd-box{
    margin: auto;
    height: 8vh;
    padding: 1vw;
    background: linear-gradient(
        to bottom,
        rgb(66,66,66) 0%,
        rgb(22,22,22) 20%,
        rgb(0,0,0) 100%
    );
    display: flex;
    align-items: center;
    row-gap: 0px;
}
.logo{
    margin: 0px;
    width: 50%;
    font-size: 2.5vh;
    font-weight: bold;
    float: left;
}

.logo a{
    text-decoration: none;
    color: gold;
}

@keyframes hoverlogo {
    0% {color:gold;}
    100% {color:rgb(219, 106, 41);}
}
.logo a:hover{
    animation-name: hoverlogo;
    animation-duration: 0.5s;
    color:rgb(219, 106, 41);
}
.hd-space{
    margin: auto;
    width:auto;
}
.web3connect{
    position: relative;
    text-align: right;
    margin-right: 2vw;
    float: right;
}
.container {
    width: auto;
  cursor: pointer;
  padding: 0px;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  background-color: rgb(155, 138, 92);
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 7px) ;
  transform: rotate(-45deg) translate(-7px, 7px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px) ;
  transform: rotate(45deg) translate(-6px, -6px) ;
}


.menuToggleHide {
    display: none;
    position: relative;
}
@keyframes showing {
    0% {opacity: 0; left: 100vw;}
    100% {opacity: 1; left: 0vw;}
}
.menuToggleShow {
    display: block;
    position: relative;
    animation-name: showing;
    animation-duration: 0.5s;
    background: radial-gradient(
        rgba(206, 117, 35, 0.95) 0%,
        rgba(150, 99, 24, 0.95) 30%,
        rgba(90, 40, 17, 0.95) 100%
    );
    padding: 2vw;
}

.menulist {
    text-decoration: none;
    list-style: none;
    margin: 1vh;
    border-left: 0.5vh solid black;
    border-bottom: 0.2vh solid black;
    border-top: 0.1vh solid rgba(0, 0, 0, 0.281);
    border-right: 0.1vh solid rgba(0,0,0,0.2);
    background: linear-gradient(
        to right,
        rgba(224, 205, 96, 0.95) 0%,
        rgba(190, 154, 35, 0.95) 60%,
        rgba(156, 150, 24, 0.95) 100%
    );
    border-radius: 5vw;
    padding: 1vh;
    width: auto;
}
.topnavbar {
    margin: auto;
    padding: 0px;
}
@keyframes fading {
    0% {background-color: rgb(255, 212, 94);}
    100% {background-color: rgba(211, 170, 121, 0.747);}
}
.menulist:hover {
    animation: fading;
    animation-duration: 0.2s;
    background-color: rgba(211, 170, 121, 0.747);
}
.topnavbar a {
    font-size: 2vh;
    color: rgb(51, 44, 6);
    text-shadow: 0.3vh 0.3vh gold;
    font-weight: bold;
    text-decoration: none;
}
.topnavbar a:hover {
    color: rgb(102, 56, 56);
    font-size: 2vh;
    text-decoration: none;
}