
.lending{
    display:block;
    margin: 0px;
    animation-name: fadeup;
    animation-duration: 0.5s;
}
.lending-header{
    width: 100%;
    text-align: left;
    color: bisque;
    display: flex;
}
.lending-header h2{
    font-size: 4vh;
}
.claim-reward-box {
    position: relative;
    margin: auto;
    min-width: 200px;
    padding: 2vw;
    float: right;
    text-align: left;
    background-color: rgba(0, 100, 0, 0.9);
    border: 0.2vw solid rgb(27, 27, 27);
    border-radius: 2vw;
}
.claim-reward-box h3{
    font-size: 3vh;
}
.reward-value {
    margin: auto;
    display: flex;
    font-size: 2vh;
    justify-content: end;
}
.reward-value p {
    margin: auto;
    margin-right: 0.5vw;
}


.user-info-box{
    margin-top: 1vw;
    width: 100%;
    align-items: center;
    background-color: rgb(80, 40, 40 , 0.9);
    border: 0.2vw solid rgb(20, 20, 20, 0.9);
    border-radius: 2vw;
    overflow: hidden;
}
.user-info-detail{
    align-items: center;
    width: 100%;
    margin: auto;
}
.user-info-detail h3{
    font-size: 3vh;
}
.user-info-detail p{
    font-size: 3vh;
    text-shadow: 0.1vw 0.1vw black;
}
.user-info-supply{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    background-color: rgb(77, 177, 77, 0.9);
    height: 100%;
    width: 100%;
}
.user-info-borrow{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    background-color: rgb(214, 110, 110, 0.9);
    height: 100%;
    width: 100%;
}
.user-info-credits{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    background-color: rgb(156, 154, 23, 0.9);
    height: 100%;
    width: 100%;
}
@keyframes danger{
    0% {background-color: rgb(156, 154, 23, 0.9);}
    50% {background-color: rgb(194, 21, 9);}
    100% {background-color: rgb(156, 154, 23, 0.9);}
}
.user-info-credits-danger{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    background-color: rgb(156, 154, 23, 0.9);
    height: 100%;
    width: 100%;
    animation-name: danger;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.menu{
    display: flex;
    flex-direction: row;
    width: 100%;
}
@keyframes menuactive{
    0% {top:1.5vh; 
        background-color:rgb(139, 91, 36, 0.9);
        height: 3vh;
        font-size: 2.2vh;
    }
    60% {top: 1vh; 
        background-color: rgb(255, 123, 0.9);
        height: 4vh;
        font-size: 2.7vh;
    }
    100% {top: 1vh; 
        background-color: rgb(255, 123, 0, 0.9);
        height: 4vh;
        font-size: 2.7vh;
    }
}
.menu-item-active{
    animation-name: menuactive;
    animation-duration: 0.4s;
    width: 100%;
    margin: auto;
    height: 4vh;
    border: 0.2vh solid black;
    border-bottom: 0vh solid black;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    font-size: 2.7vh;
    font-weight: bold;
    background-color: rgb(255, 123, 0, 0.9);
    color: gold;
    text-shadow: 0.1vh 0.1vh rgb(20, 20, 20);
    position: relative;
    top:1vh;
}
@keyframes menuinactive{
    0% {top: 1vh; 
        background-color: rgb(255, 123, 0, 0.9);
        height: 4vh;
        font-size: 2.7vh;
    }
    40% {top: 1vh; 
        background-color: rgb(255, 123, 0,0.9);
        height: 4vh;
        font-size: 2.7vh;
    }
    100% {top:1.5vh; 
        background-color:rgb(139, 91, 36,0.9);
        height: 3vh;
        font-size: 2.2vh;
    }
}
.menu-item-inactive{
    animation-name: menuinactive;
    animation-duration: 0.4s;
    width: 100%;
    margin: auto;
    height: 3vh;
    border: 0.2vh solid black;
    border-bottom: 0vh solid black;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    font-size: 2.2vh;
    font-weight: bold;
    background-color:rgb(114, 68, 24,0.9);
    position: relative;
    top: 1.5vh;
}
.menu-item-inactive:hover {
    background-color:rgb(139, 91, 36,0.9);
}
.lending-body{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.lending-box{
    position: relative;
    top: 1vh;
    padding: 0px;
    width: 100%;
    margin: auto;
    border: 0.2vh solid rgb(20, 20, 20);
    border-top: 0px solid black;
    box-shadow: 0.1vh 0.2vh rgb(0, 0, 0);
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    background-color:rgb(114, 68, 24,0.9);
}
.lending-asset-box{
    display: flex;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 5px;
    margin-right: 10px;
    max-width:100%;
    border: 2px solid rgb(30, 30, 30);
    background-color:rgb(160, 100, 50,0.9);
    height: 250px;
}
.Token{
    display: block;
    width: 10%;
    margin: 10px;
}
.lending-asset-box-info{
    display:flex;
    align-items: center;
    border-left: 1px solid black;
    height: 3vw;
    width: 100%;
    margin: 20px;
    padding-left: 25px;
}
.lending-asset-box-info h3{
    text-align: left;
    font-size: 1rem;
}

.flex-col{
    display: flex;
    flex-direction: column;
}


.logoimg{
    width: 5vh;
}

.table{
    width: 95%;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: beige;
    text-shadow: 0.1vh 0vh rgb(56, 56, 56);
    border-style: none;
    text-align: center;
    vertical-align: middle;
    border-top: 0px solid black;
    table-layout: fixed;
}
.table th, .table td {
    padding: 1vh;
    vertical-align: middle;
    border-top: 0px solid #dee2e6;
}
.table h3{
    font-size: 2.5vh;
    font-weight: bold;
    text-align: left;
    padding: 1vh;
}
.table-head {
    font-size: 2.5vh;
    border-top: 0px solid black;
}

.table-body {
    font-size: 2.5vh;
    vertical-align: middle;
    cursor: pointer;
}

.table-hover{
    background-color: transparent;
}

.asset-name{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.asset-name img{
    object-fit: cover;
    display: block;
    height: max-content;
    width: 5vh;
    margin: auto;
}
.asset-name h3{
    width: 60%;
    margin:auto;
    font-size: 2.5vh;
    text-shadow: 0.1vh 0.1vh black;
}

.asset-number {
    vertical-align: middle;
    margin: auto;
    width: 100%;
}
.asset-number h5 {
    margin:auto;
    font-size: 2.5vh;
}
.asset-number p {
    font-size: 2vh;
    color: rgb(151, 151, 151);
}

.asset-number-negative h5{
    margin:auto;
    font-size: 2.5vh;
    color: red;
}
.asset-number-negative p {
    font-size: 2vh;
    color: rgb(151, 151, 151);
}
.asset-number-positive h5{
    margin:auto;
    font-size: 2.5vh;
    color: rgb(21, 255, 0);
}
.asset-number-positive p {
    font-size: 2vh;
    color: rgb(151, 151, 151);
}

.mobile {

}

@media screen and (min-width: 1000px){ /*Hide Navbar*/
    .user-info-box{
        display:flex;
    }
    
}
@media screen and (max-width: 1000px){ /*Hide Navbar*/
    .mobile {
        display:none;
    }
}