
.mainbox{
    z-index: 1;
    position: absolute;
    top: 10vh;
    left: 1vw;
    right: 1vw;
    margin: 0px;
    text-align: center;
    font-size: 1.8vh;
}

@media screen and (min-width: 1000px){ /*Hide Navbar*/
    .mainbox{
        left: 21vh;
    }
}

.mainbox h1{
    font-size: 3.5vh;
    color: gold;
    margin-bottom: 3vh;
}
.mainbox p{
    margin: auto;
    color: rgb(254, 255, 205);
    text-shadow: 0.3vh 0.3vh rgb(43, 43, 43);
}
.button{
    text-align: center;
    color: rgb(43, 43, 43);
    background: linear-gradient(
        to bottom,
        rgb(255, 251, 195) 0%,
        rgb(255, 187, 110) 30%,
        rgb(109, 87, 54) 100%
    );
    margin: 0.5vh;
    font-weight: bold;
    font-size: 1.8vh;
    width: 13vh;
    border: 0.1vw solid black;
    border-radius: 5vw;
    box-shadow:0.1vw 0.2vw rgb(43, 43, 43);
}

.button:hover{
    text-decoration: none;
    color: rgb(43, 43, 43);
    background: linear-gradient(
        to bottom,
        rgb(255, 251, 195) 0%,
        rgb(255, 245, 110) 30%,
        rgb(184, 173, 30) 100%
    );
}
.button-inactive{    
    background: linear-gradient(
        to bottom,
        rgb(255, 251, 195) 0%,
        rgb(255, 187, 110) 30%,
        rgb(109, 87, 54) 100%
    );
    margin: 0.5vh;
    font-weight: bold;
    font-size: 1.8vh;
    width: 13vh;
    color: gray;
    border: 0.1vw solid black;
    border-radius: 5vw;
    box-shadow:0.1vw 0.2vw rgb(43, 43, 43);
}
.input{
    outline: none;
    color: aliceblue;
    text-shadow: 0.1vw 0.1vw rgb(54, 54, 54);
    border: 0px;
    background: transparent;
    border-bottom: 0.2vh solid rgb(187, 187, 187);
    overflow: hidden;
    text-align: right;
    width: 100%;
    margin: auto;
    padding-right: 1vw;
    margin-bottom: 1vw;
    font-size: 2.2vh;
}

.maxbutton{
    cursor: pointer;
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

.info{
    color:white;
    text-align: left;
}