.main-info-top{
    margin: 1vh;
}

.main-info-bottom{
    margin: 1vh;
    margin-top: 0vh;
}
.main-items{
    margin: auto;
    margin-top: 1vh;
    width: 100%;
    padding: 2vw;
    background-color: rgb(190, 120, 70, 0.8);
    /* border: 0.2vw solid rgb(218, 137, 16); */
    border-radius: 2vw;
}
.main-items h3{
    font-size: 4vh;
}
.main-items p{
    font-size: 4vh;
}

.tvl {
    display: flex;
}
.tvl p {
    justify-self: right;
}
.tvl h1{
    text-align: left;
}
@media screen and (min-width: 1000px){ /*Hide Navbar*/
    .main-info-bottom{
        display: flex;
    }
    .main-items{
        margin: 1vw;
    }
}