.main-info-top{
    margin: 1vh;
}

.main-info-bottom{
    margin: 1vh;
    margin-top: 0vh;
}
.main-items{
    margin: auto;
    margin-top: 1vh;
    width: 100%;
    padding: 2vw;
    background: linear-gradient(
        to right,
        rgb(250, 206, 86) 0%,
        rgb(226, 139, 26) 30%,
        rgb(94, 64, 9) 100%
    );
    border: 0.2vw solid rgb(218, 137, 16);
    box-shadow: 0.5vh 0.7vh black;
    border-radius: 2vw;
}
.main-items h3{
    font-size: 4vh;
}
.main-items p{
    font-size: 4vh;
}

.tvl {
    display: flex;
}
.tvl p {
    justify-self: right;
}
.tvl h1{
    text-align: left;
}
@media screen and (min-width: 1000px){ /*Hide Navbar*/
    .main-info-bottom{
        display: flex;
    }
    .main-items{
        margin: 1vw;
    }
}