@keyframes fadeup{
    0%      {opacity: 0;}
    100%    {opacity: 1;}
}
.popup-box{
    width: 90vw;
    max-width: 1000px;
    background-color: rgb(102, 141, 103);
    border-radius: 5vw;
    padding: 2vw;
    border: 0.3vh dashed rgb(92, 92, 92);
    opacity: 1;
    font-size: 2.5vh;
    animation-name: fadeup;
    animation-duration: 0.5s;
}
.popup-borrow-box{
    width: 90vw;
    max-width: 1000px;
    background-color: rgb(199, 120, 107);
    border-radius: 5vw;
    font-size: 10vw;
    padding: 2vw;
    border: 0.3vw dashed rgb(92, 92, 92);
    opacity: 1;
    font-size: 2vw;
    animation-name: fadeup;
    animation-duration: 0.5s;
}
.popup-box-firstpage{
    width: 90vw;
    max-width: 1000px;
    background-color: rgb(221, 195, 79);
    border-radius: 5vw;
    padding: 2vw;
    border: 0.3vh dashed rgb(92, 92, 92);
    opacity: 1;
    font-size: 2.5vh;
    animation-name: fadeup;
    animation-duration: 0.5s;
}
.popup-box h1{
    font-size: 4vw;
    text-align: center;
}
@keyframes popupbg{
    0%      {background: 0,0,0,0;}
    100%    {background: rgba(0,0,0,.5);}
}
.closeButton {
    cursor: pointer;
    position: absolute;
    display: block;
    line-height: 3.5vh;
    right: -2vw;
    top: -1vh;
    font-size: 3vh;
    opacity: 0.6;
    background: #ffffff;
    border-radius: 5vh;
    border: 0.2vw solid #3f3f3f; 
}
.closeButton:hover {
    opacity:0.9;
}
.popup-overlay {
    animation-name: popupbg;
    animation-duration: 0.5s;
    background: rgba(0,0,0,.5);
}
.popup-head h1 {
    font-size: 4vh;
}
.popup-head p {
    font-size: 2vh;
}
.popup-head-symbol{
    display: flex;
    justify-content: center;
}

.popup-body {
    display: block;
}
.popup-body-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1vw;
    margin: auto;
    border: 0.1vw solid black ;
}
.popup-body-box-detail {
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
}
.popup-body-box-detail h3{
    font-size: 2vh;
    width: 100%;
}
.popup-body-box-detail p{
    text-align: right;
    font-size: 2vh;
    width: 100%;
}
.popup-footer {
    margin-top: 2vw;
    justify-content:center;
    text-align: center;
}

@media screen and (min-width: 1000px){ /*Mobile view*/
    .popup-box{
        width: 80vw;
    }
    .popup-body{
        display: flex;
    }
    .mint-action {
        display: flex;
    }
}

.button-popup{
    text-align: center;
    color: rgb(43, 43, 43);
    background: linear-gradient(
        to bottom,
        rgb(255, 251, 195) 0%,
        rgb(255, 187, 110) 30%,
        rgb(109, 87, 54) 100%
    );
    margin: auto;
    font-weight: bold;
    font-size: 2vh;
    border: 0.1vw solid black;
    border-radius: 5vw;
    box-shadow:0.1vw 0.2vw rgb(43, 43, 43);
}

.button-popup:hover{
    text-decoration: none;
    color: rgb(43, 43, 43);
    background: linear-gradient(
        to bottom,
        rgb(255, 251, 195) 0%,
        rgb(255, 245, 110) 30%,
        rgb(184, 173, 30) 100%
    );
}