/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 4vw;
    height: 1.9vw;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(71, 32, 0);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5vw;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.7vw;
    width: 1.7vw;
    left: 0.15vw;
    bottom: 0.1vw;
    background-color: rgb(252, 215, 5);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #f37e11;
  }
  
  input:focus + .slider {
    box-shadow: 0vw 0vw 0.3vw #ffc400;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(2vw);
    -ms-transform: translateX(2vw);
    transform: translateX(2vw);
  }